<!DOCTYPE html>
<html class="html {{ body_class }}" lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} {{ __('Feed', 'flynt') }}" href="{{ site.rss2 | e('esc_url') }}">
    {{ function('wp_head') }}
  </head>
  <body>
    <a href="#mainContent" class="skipLink">
      {{ __("Jump to main content", "flynt") }}
    </a>
    {% block layout %}
      <div class="pageWrapper">
        <header class="mainHeader">
          {% block header %}
            {{ renderComponent('NavigationMain') }}
            {{ renderComponent('NavigationBurger') }}
          {% endblock %}
        </header>
        <main id="heroContent" class="heroContent" aria-label="{{ __('Content', 'flynt') }}">
          {% if function('post_password_required') %}
            {{ function('get_the_password_form') }}
          {% else %}
            {% block heroContent %}
              No <code>{{ '{% block heroContent %}' }}</code> defined for this template.
            {% endblock %}
          {% endif %}
        </main>

        <section id="mainContentWithSidebar" class="container mainContentWithSidebar centerMaxWidthContainer contentWrapper" aria-label="{{ __('Content', 'flynt') }}" style="margin-right: -15px;margin-left: -15px;">
          <div class="contentWrapper" style="display:flex;">
          {% if function('post_password_required') %}
            {{ function('get_the_password_form') }}
          {% else %}
          <div id="contentLeft" class="contentLeft" style="width: 66.66666667%;float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;border-right: 1px solid #f3f3f3;">
            {% block content %}
              No <code>{{ '{% block content %}' }}</code> defined for this template.
            {% endblock %}
          </div>
          <aside class="sidebarRight" style="width: 33.33333333%;float: left;position: relative;min-height: 1px;padding:30px 15px;background-color:#f6f6f6;">
            {% block sidebar %}
              {{dynamic_sidebar}}
            {% endblock %}
          </aside>
          {% endif %}
          </div>
        </section>
        
        <footer class="mainFooter">
        <aside>
            {% block footerSidebar %}
            <div class="flyntComponent componentSpacing " is="flynt-list-components">
              <div class="container centerMaxWidthContainer">
                <ul class="components">
                  <li class="component boxShadow">
                     {{dynamic_sidebar1}}
                  </li>
                  <li class="component boxShadow">
                    <h3>Newsletter Sign Up</h3>
                    {# {{dynamic_sidebar2}} #}
                    <div is="flynt-form-contact-form-7" class="flyntComponent">
                      <div class="form {{ options.card ? 'themeReset boxPadding' }}">
                        {% set formShortcode = '[contact-form-7 id="828"]' %}
                        {{ formShortcode|shortcodes }}
                        {% if contentFooterHtml %}
                          <div class="postContent">
                            {{ contentFooterHtml|e('wp_kses_post') }}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </li>
                  <li class="component boxShadow" style="padding:15px;">
                    {{dynamic_sidebar3}}
                  </li>
                </ul>
              </div>
            </div>
            {% endblock %}
          </aside>
          {% block footer %}
            {# {{ renderComponent('NavigationFooter') }} #}
            <div class="container centerMaxWidthContainer">
            <p class="copyright" style="text-align:right;font-size:0.75em;">&copy; {{ now|date('Y') }} by {{ bloginfo('name') }}</p>
          </div>
          {% endblock %}
        </footer>
      </div>
    {% endblock %}
    <div class="wpFooter">
      {{ function('wp_footer') }}
    </div>
  </body>
</html>
