<nav {% if fn('is_single') or fn('is_archive') %} is="flynt-navigation-main-blog" {% else %} is="flynt-navigation-main" {% endif %} class="flyntComponent" aria-label="{{ __("Main", "flynt") }}">
  <div class="wrapper">
    <div id="utility" class="container utilityNav">
        <ul class="menu left">
            <li><a href="/location/map-directions/"><i class="fa fa-map-marker-alt"></i> Location</a></li>
            <li><a href="/contact-us/"><i class="fa fa-envelope"></i> Contact Us</a></li>
            <li><i class="fa fa-phone"></i> {{phoneNum}}</li>
            {# <li><a{{emailAddress}}</li> #}
            {# <li><a href="{{facebookUrl}}" target="_blank"><i class="fa fa-facebook" style="font-size: 1.5em;"></i></a></li>
            <li><a href="{{instagramUrl}}" target="_blank"><i class="fa fa-instagram" style="font-size: 1.5em;"></i></a></li> #}
        </ul>
        <ul class="menu right">
            <li><a href="https://sitzmarklodge.client.innroad.com/" onClick="gtag('event', 'Click', { 'event_category': 'Booking Lead', 'event_action':'Click','event_label':'Book Now Button' });"><button class="button button--small bookNow">Book NOW</button></a></li>
            <li><a href="/covid-19/"><button class="pill covid">COVID-19</button></a></li>  
        </ul>
    </div>
    <div id="logo" class="container centerMaxWidthContainer logoContainer">
        <a class="logo" href="{{ site.link }}">
        <img class="logo-image" src="{{ siteLogo.src }}" alt="{{ logo.alt }}">
      </a>
    </div>
    <div id="menuWrapper" class="container centerMaxWidthContainer">
      {# <a class="logo" href="{{ site.link }}">
        <img class="logo-image" src="{{ siteLogo.src }}" alt="{{ logo.alt }}">
      </a> #}
      {% if menu %}
        <ul class="menu">
          {% for item in menu.items %}
            <li class="menu-item {{ item.current ? 'menu-item--current' }}">
              <a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ item.title }}</a>
                {% if item.children %}
                  <ul class="nav-drop">
                      {% for child in item.children %}
                        <li class="nav-drop-item">
                          <a href="{{ child.link }}">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                  </ul>
                {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
